<!DOCTYPE html>
<html>
<head>
  <title>RailsApp</title>
</head>
<body>
  <h1>Welcome to the app that's using Bento</h1>

  <% flash.each do |type, message| %>
    <p id="flash" class="<%= type %>"><%= message %></p>
  <% end %>

  <%= link_to "Mange accounts", accounts_path %>
  <%= link_to "Bento Accounts", new_account_path %>
  <%= link_to "Custom Accounts", new_custom_account_path %>

  <% if user_signed_in? %>
    <span>Current account: <%= current_account.name %></span>
    <%= link_to "Projects", projects_path %>
    <%= link_to "All projects", projects_path(:all => true) %>
    <%= link_to('Sign out', destroy_user_session_path) %>
  <% else %>
    <%= link_to "Sign up", sign_up_accounts_path %>
    <%= link_to "Sign in", new_user_session_path %>
  <% end %>

  <%= yield %>
</body>
</html>