<!DOCTYPE html>
<html>
<head>
  <title>RailsApp</title>
</head>
<body>
  <h1>Welcome to the app that's using Bento</h1>

  <% flash.each do |type, message| %>
    <p id="flash" class="<%= type %>"><%= message %></p>
  <% end %>

  <%= link_to "Manage accounts", accounts_path %>
  <%= link_to "Bento accounts", new_account_path %>
  <%= link_to "Custom accounts", new_custom_account_path(:sign_up => true) %>
  <%= link_to "Manage custom accounts", custom_accounts_path %>

  <% if user_signed_in? %>
    <% if current_account %>
      <span>Current account: <%= current_account.name %></span>
    <% end %>
    <%= link_to "Projects", projects_path %>
    <%= link_to "My projects", projects_path(:my => true) %>
    <%= link_to "All projects", projects_path(:all => true) %>

    <%= link_to "My accounts", projects_path(:my_accounts => true) %>
    <%= link_to('Sign out', destroy_user_session_path) %>
  <% else %>
    <%= link_to "Sign up", sign_up_accounts_path %>
    <%= link_to "Sign in", new_user_session_path %>
  <% end %>

  <%= yield %>
</body>
</html>