<!DOCTYPE html>
<html>
<head>
  <title>RailsApp</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <h1>Welcome to the app that's using Bento</h1>
  <% flash.each do |type, message| %>
    <p id="flash" class="<%= type %>"><%= message %></p>
  <% end %>
  <%= yield %>
</body>
</html>