<%= simple_form_for @account do |form| -%>
  <%= form.input :name %>
  <%= form.association :users, :as => :check_boxes, :collection => User.all.map { |u| [u.email, u.id] } %>
  <%= form.button :submit %>
<% end -%>

<p><%= link_to "Back to accounts", accounts_path %></p>