<h1>Accounts</h1>

<%= table_for Account, @accounts do |table| %>
  <%= table.head :name, :edit, :delete %>
  <%= table.body do |row| %>
    <%= row.cell link_to(row.record.name, row.record) %>
    <%= row.cell link_to("Edit '#{row.record.name}'", edit_account_path(row.record)) %>
    <%= row.cell button_to("Delete '#{row.record.name}'", account_path(row.record), :method => :delete) %>
  <% end %>
  <%= table.foot do %>
    <%= link_to "Add account", new_account_path %>
  <% end %>
<% end %>