<h1>New account</h1>
<%= simple_form_for @account do |form| -%>
  <%= form.input :name, :label => 'Account name', :hint => 'For example, your own name or the name of your company.' %>
  <%= form.input :first_name %>
  <%= form.input :last_name %>
  <%= form.input :email, :label => 'Email address', :hint => 'Will be used as your login.' %>
  <%= form.input :password %>
  <%= form.input :password_confirmation %>

  <% # Do not remove thos hidden field or else the redirections won't work as expected %>
  <%= hidden_field_tag :referer, "sign_up" %>

  <%= form.button :submit, "Create account", :class => "Submit" %>
<% end -%>