<h1>Custom accounts</h1>
<h2>Current site: <%= current_site.name %></h2>

<%= table_for Site, @sites do |table| %>
  <%= table.head :show, :edit, :delete %>
  <%= table.body do |row| %>
    <%= row.cell link_to(row.record.name, account_path(row.record)) %>
    <%= row.cell link_to("Edit '#{row.record.name}'", edit_custom_account_path(row.record)) %>
    <%= row.cell button_to("Delete '#{row.record.name}'", custom_account_path(row.record), :method => :delete) %>
  <% end %>
  <%= table.foot do %>
    <%= link_to "Add account", new_custom_account_path %>
  <% end %>
<% end %>