<h1>New account</h1>
<%= simple_form_for @site, :url => custom_accounts_path do |form| -%>
  <% if params[:sign_up] %>
    <%= form.input :name, :label => 'Account name' %>
    <%= form.input :first_name %>
    <%= form.input :last_name %>
    <%= form.input :email, :label => 'Email address' %>
    <%= form.input :password %>
    <%= form.input :password_confirmation %>
  <% else %>
    <%= form.input :name %>
  <% end %>
  <%= form.button :submit, "Create account", :class => "Submit" %>
<% end -%>