<h1><%= @site.name %> (Custom account)</h1>

<%= show_for @site do |show| %>
  <%= show.attributes :name %>
<% end %>

<p>
  <%= link_to("Edit", edit_account_path(@site)) %>
  <%= button_to('Delete', account_path(@site), :method => :delete) %>
</p>

<p><%= link_to "Back to accounts", accounts_path %></p>